<footer class="bg-primary">
  <div class="container">
    <div class="d-flex flex-row-reverse justify-content-between align-items-start d-md-block border-bottom border-white py-8 pt-md-11 pb-md-9">
      <div class="d-flex justify-content-between align-items-center mb-8">
        <ul class="d-none d-md-flex">
          <li class="me-11">
            <a href="index.html">首頁</a>
          </li>
          <li class="me-11">
            <a href="#">系列鏡框</a>
          </li>
          <li class="me-11">
            <a href="#">門市據點</a>
          </li>
          <li class="me-11">
            <a href="#">部落格</a>
          </li>
          <li class="">
            <a href="question.html">常見問題</a>
          </li>
        </ul>
        <ul class="d-flex">
          <li class="me-lg-9 me-6">
            <a href="#">
              <img class="h-24px h-md-48px" src="../assets/images/ic-social-fb.png" alt="fb-icon">
            </a>
          </li>
          <li class="me-lg-9 me-6">
            <a href="#">
              <img class="h-24px h-md-48px" src="../assets/images/ic_social_ig.png" alt="ig-icon">
            </a>
          </li>
          <li>
            <a href="#">
              <img class="h-24px h-md-48px" src="../assets/images/ic_social_line.png" alt="line-icon">
            </a>
          </li>
        </ul>
      </div>
      <ul>
        <li class="mb-3">
          <a href="tel:+0800-000-000" class="fs-12 fs-md-5 d-flex align-items-center">
            <span class="material-icons-outlined fs-8 fs-md-5 me-6">
              phone
            </span>
            <span>0800-000-000</span>
          </a>
        </li>
        <li>
          <a href="mailto:glasses@business.com" class="fs-12 fs-md-5 d-flex align-items-center">
            <span class="material-icons-outlined fs-8 fs-md-5 me-6">
              email
            </span>
            <span>
              glasses@business.com</a>
            </span>
        </li>
      </ul>
    </div>
    <div class="d-md-flex justify-content-between align-items-center pt-6 pb-8 py-md-9">
      <p class="text-white mb-3 mb-md-0">Copyright © 2020 Glasses.All rights reserved.</p>
      <div class="d-md-flex">
        <p class="text-white fs-md-13 fs-12 me-11 mb-3 mb-md-0">隱私權政策</p>
        <p class="text-white fs-md-13 fs-12">服務條款</p>
      </div>
    </div>
  </div>
</footer>