<nav class="bg-primary py-md-6">
  <div class="container">
    <div class="d-md-flex justify-content-between align-items-center py-6 py-md-0">
      <a href="../pages/index.html">
        <img style="height: 48px;" src="../assets/images/logo-white.png" alt="nav-logo">
      </a>
      <ul class="d-none d-md-flex">
        <li class="me-12">
          <a class="fs-9" href="#">系列鏡框</a>
        </li>
        <li class="me-12">
          <a class="fs-9" href="#">門市據點</a>
        </li>
        <li class="me-12">
          <a class="fs-9" href="#">部落格</a>
        </li>
        <li class="">
          <a class="fs-9" href="../pages/question.html">常見問題</a>
        </li>
      </ul>
    </div>
  </div>
  <ul class="row row-cols-2 d-md-none g-0">
    <li class="col border border-white">
      <a class="d-block text-center fs-9 py-5" href="#">系列鏡框</a>
    </li>
    <li class="col border border-white">
      <a class="d-block text-center fs-9 py-5" href="#">門市據點</a>
    </li>
    <li class="col border border-white">
      <a class="d-block text-center fs-9 py-5" href="#">部落格</a>
    </li>
    <li class="co border border-white">
      <a class="d-block text-center fs-9 py-5" href="../pages/question.html">常見問題</a>
    </li>
  </ul>
</nav>