<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>index</title>
  </head>
  <body>
    <%- include('./layout/header'); -%>

    <section class="header-bg">
      <div class="container h-100">
        <div class="d-flex justify-content-end align-items-center h-100">
          <div class="text-end">
            <h1 class="text-secondary fs-12 fs-md-5 fw-normal">Promise-Desert 2020 早春系列</h1>
            <p class="text-secondary fs-8 fs-md-1 fw-bold">看得清，才能看得遠</p>
            <a href="#" class="btn btn-primary">立即購買</a>
          </div>
        </div>
      </div>
    </section>
    <section class="bg-pink py-10 py-md-13">
      <div class="container">
        <h2 class="text-secondary fs-8 fs-md-2 fw-bold text-center mb-8">用專業的心，做專業的事</h2>
        <ul class="row row-cols-lg-4 row-cols-md-2 row-cols-1">
          <li class="col">
            <div class="text-center mb-6">
              <img src="/assets/images/home-section2-1.png" alt="單一價格-img" class="h-100px">
            </div>
            <h3 class="text-center text-secondary fw-bold mb-3">單一價格</h3>
            <p>無論任何度數皆不需追加費用即可擁有適合自己的薄型球面鏡片。</p>
          </li>
          <li class="col">
            <div class="text-center mb-6">
              <img src="/assets/images/home-section2-2.png" alt="20 分鐘即可取件-img" class="h-100px">
            </div>
            <h3 class="text-center text-secondary fw-bold mb-3">20 分鐘即可取件</h3>
            <p>為了您的寶貴時間著想，以豐富專業知識與技術將結帳到交件的時間縮減至最快 20 分鐘即可完成。</p>
          </li>
          <li class="col">
            <div class="text-center mb-6">
              <img src="/assets/images/home-section2-3.png" alt="安心售後服務-img" class="h-100px">
            </div>
            <h3 class="text-center text-secondary fw-bold mb-3">安心售後服務</h3>
            <p>我們提供長達 120 天的保固售後服務，不限會員資格皆享有免費深層保養及專業維修服務。</p>
          </li>
          <li class="col">
            <div class="text-center mb-6">
              <img src="/assets/images/home-section2-4.png" alt="關於鏡片-img" class="h-100px">
            </div>
            <h3 class="text-center text-secondary fw-bold mb-3">關於鏡片</h3>
            <p>使用世界知名頂級品牌，抗UV、防汙鍍膜薄型非球面鏡片。</p>
          </li>
        </ul>
      </div>
    </section>
    <section class="py-10 py-md-13">
      <div class="container">
        <h2 class="text-secondary fs-8 fs-md-2 fw-bold text-center mb-8">經典系列鏡框</h2>
        <ul class="row">
          <li class="col-12 col-lg-4 mb-8 mb-lg-0">
            <div class="row justify-content-center">
              <div class="col-12 col-md-6 col-lg-12">
                <a href="#" class="text-center">
                  <img src="/assets/images/home-section3-1.png" alt="OPTICAL-img" class="img-fluid ">
                  <div class="fs-2 fst-italic fw-bolder text-primary">OPTICAL</div>
                </a>
              </div>
            </div>
          </li>
          <li class="col-12 col-lg-4 mb-8 mb-lg-0">
            <div class="row justify-content-center">
              <div class="col-12 col-md-6 col-lg-12">
                <a href="#" class="text-center">
                  <img src="/assets/images/home-section3-2.png" alt="SUNGLASSES-img" class="img-fluid ">
                  <div class="fs-2 fst-italic fw-bolder text-primary">SUNGLASSES</div>
                </a>
              </div>
            </div>
          </li>
          <li class="col-12 col-lg-4">
            <div class="row justify-content-center">
              <div class="col-12 col-md-6 col-lg-12">
                <a href="#" class="text-center">
                  <img src="/assets/images/home-section3-3.png" alt="FUNCTIONAL-img" class="img-fluid ">
                  <div class="fs-2 fst-italic fw-bolder text-primary">FUNCTIONAL</div>
                </a>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </section>
    <section class="collaboration-bg py-10 py-md-13">
      <div class="container">
        <h2 class="text-white fs-8 fs-md-2 fw-bold text-center mb-8">聯名設計鏡框</h2>
        <ul class="row row-cols-lg-2 row-cols-1 g-0">
          <li class="col mb-8 mb-lg-0">
            <a href="#" class="text-center">
              <img src="/assets/images/home-section4-1.png" alt="DOUBLE A+-img" class="d-none d-md-block img-fluid">
              <img src="/assets/images/home-section4-1-sm.png" alt="DOUBLE A+-img" class="d-md-none img-fluid">
              <div class="fs-2 fst-italic fw-bolder text-primary bg-white">DOUBLE A+</div>
            </a>
          </li>
          <li class="col">
            <a href="#" class="text-center">
              <img src="/assets/images/home-section4-2.png" alt="YOUTH-img" class="img-fluid d-none d-md-block">
              <img src="/assets/images/home-section4-2-sm.png" alt="YOUTH-img" class="img-fluid d-md-none">
              <div class="fs-2 fst-italic fw-bolder text-primary bg-white">YOUTH</div>
            </a>
          </li>
        </ul>
      </div>
    </section>
    <section class="py-10 py-md-13">
      <div class="container">
        <h2 class="text-secondary fs-8 fs-md-2 fw-bold text-center mb-8">顧客推薦</h2>
        <ul class="row g-8 row-cols-lg-4 row-cols-md-2 row-cols-1">
          <li class="col">
            <div class="border border-border rounded shadow">
              <img src="/assets/images/home-section5-1.png" alt="Jessy-img" class="img-fluid">
              <div class="h-205px d-flex flex-column p-6">
                <p class="fw-semibold mb-3">Jessy</p>
                <p class="flex-grow-1">眼鏡品質優良，下次還會想來這邊購買！</p>
                <time class="text-time fs-13">2021/06/20</time>
              </div>
            </div>
          </li>
          <li class="col">
            <div class="border border-border rounded shadow">
              <img src="/assets/images/home-section5-2.png" alt="凱倫-img" class="img-fluid">
              <div class="h-205px d-flex flex-column p-6">
                <p class="fw-semibold mb-3">凱倫</p>
                <p class="flex-grow-1">做工細緻、鏡架很輕盈，待久也不會覺得有負擔，推薦給大家！</p>
                <time class="text-time fs-13">2021/04/18</time>
              </div>
            </div>
          </li>
          <li class="col">
            <div class="border border-border rounded shadow">
              <img src="/assets/images/home-section5-3.png" alt="悠悠-img" class="img-fluid">
              <div class="h-205px d-flex flex-column p-6">
                <p class="fw-semibold mb-3">悠悠</p>
                <p class="flex-grow-1">謝謝客服人員的詳細回答，成功買到了喜歡的眼鏡，下次會再回購！</p>
                <time class="text-time fs-13">2020/12/25</time>
              </div>
            </div>
          </li>
          <li class="col">
            <div class="border border-border rounded shadow">
              <img src="/assets/images/home-section5-4.png" alt="Kyuan-img" class="img-fluid">
              <div class="h-205px d-flex flex-column p-6">
                <p class="fw-semibold mb-3">Kyuan</p>
                <p class="flex-grow-1">服務很好，品質沒有任何問題，非常喜歡。</p>
                <time class="text-time fs-13">2020/10/31</time>
              </div>
            </div>
          </li>
          
        </ul>
      </div>
    </section>
    <section class="py-10 py-md-13 bg-pink">
      <div class="container">
        <h2 class="text-secondary fs-8 fs-md-2 fw-bold text-center mb-8">聯絡我們</h2>
        <div class="row justify-content-center">
          <div class="col-md-10 col-lg-6">
            <p class="fs-9 mb-8">我們相當重視您的意見，若您有任何疑問，可先參考「常見問題」，若仍有任何問題，請填妥以下資料，我們會在近期與您聯繫。</p>
            <form>
              <div class="mb-6">
                <label for="name" class="form-label">姓名</label>
                <input type="text" class="form-control" id="name" placeholder="陳小明">
              </div>
              <div class="mb-6">
                <label for="tel" class="form-label">聯絡電話</label>
                <input type="tel" class="form-control" id="tel" placeholder="0912-345-678">
              </div>
              <div class="mb-6">
                <label for="email" class="form-label">電子郵件</label>
                <input type="email" class="form-control" id="email" placeholder="example@email.com">
              </div>
              <div class="mb-6">
                <label for="email" class="form-label">電子郵件</label>
                <input type="" class="form-control" id="email" placeholder="example@email.com">
              </div>
              <div class="mb-6">
                <label for="Comments" class="form-label">意見反應</label>
                <textarea class="form-control h-136px" id="Comments" placeholder="請輸入您的意見">
                </textarea>
              </div>
              <div class="mb-11 form-check">
                <input type="checkbox" class="form-check-input" id="checkbox">
                <label class="form-check-label" for="checkbox">我同意隱私權政策，並同意依隱私權政策中所述的方式處理自己的資料。</label>
              </div>
            </form>
          </div>
          <div class="w-100"></div>
          <div class="col-12 col-md-4">
            <button type="submit" class="btn btn-primary fw-bold py-6 w-100">確認送出</button>
          </div>
        </div>
      </div>
    </section>

    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
  </body>
</html>
